.message-list {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  height: calc(100vh - 70px);
  height: -webkit-calc(100vh - 70px);
  height: -moz-calc(100vh - 70px);
  height: -o-calc(100vh - 70px);

  &__receiver {
    padding: 20px 30px 0px 30px;
    border-bottom: 1px solid #E0E1DD;
    font-size: 28px;
    height: 80px;

    &--symbol {
      color: #8D99AE;
    }
    
    &--name {
      color: #2B2D42;
      font-weight: bold;
    }
  }
  &__messages {
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    padding: 20px 30px;
    overflow-y: scroll;

    &--content{
      font-size: 20px;
      line-height: 28px;
      color: #0D1B2A;
      margin-bottom: 20px;
    }
  }
}
